{% extends "base.html" %}

{% block head_title %}
<!-- cambiamos el nombre de la pestaña del navegador donde estamos -->
{{ super() }}: Modificar movimiento
{% endblock %}


{% block page_title %}
Modificar movimiento
{% endblock %}

{% block contenido %}
{{ super() }}

<form action="/modificar/ {{ id }}">
    {{ form.csrf_token }}
    {{ form.id }}

    <div class="campo-formulario">
        {{ form.fecha.label }}
        {{ form.fecha }}
    </div>

    <div class="campo-formulariol">
        {{ form.concepto.label }}
        {{ form.concepto }}
    </div>

    <div class="campo-formulario">
        {% for campo in form.tipo %}
            {{ campo }}
            {{ campo.label }}
        {% endfor %}
    </div>

    <div class="campo-formulario">
        {{ form.cantidad.label }}
        {{ form.cantidad }}
    </div>
    
    <div class="acciones">
        {{ form.submit }}
    </div>
</form>

{%  endblock%}